body{
  margin: 0;
  padding: 0;
  position: relative;
}
/*LOGO - LA REPÚBLICA*/
.contenedor01{
  margin: 0;
  padding: 0;
  background-color: #E00109;
}
.imagen{
  padding: 7px;
  padding-left: 7rem;
}
/*BARRA - MENú*/
.barra{
  margin: 0 auto;
  background-color: #5C5C66;
}
.menu{
  margin: 0 auto;
  background-color: #5C5C66;
  color: white;
}
ul{
  margin-top: 0px;
  margin-bottom: 0;
  padding: 14px;
  list-style: none;
  padding-left: 7.7em;
  background-color: #4D4D59;
}
/*.opcion{
  background-color: #4E4E5A;
  color: white; */

li{
  display: inline;
  margin: 0 0.2em;
}
/*INFORMACIÓN*/

.contenedor03{
  margin: 21px;
}
.contenedor03a{
  margin: 21px;
}
    .odebrecht{
      background-color: #4D4D59;
      column-count: 2;
      padding: 14px 14px;
      margin: 2px;
    }
    .odebrecht01{
      width: 210px;
      height: 210px;
    }
    .contenedor03a1{
      column-count: 2;
      margin: 0 auto;

    }
.contenedor03b{
  margin: 21px;

}
.alejandra{
  background-color: #4D4D59;
}
.alejandra01{
  width: 210px;
  height: 210px;
}
.corea{
  background-color: #4D4D59;
}
.corea01{
  width: 210px;
  height: 210px;
}
.senora{
  background-color: #FF0004;
  column-count: 2;
  margin-top: 14px;
  margin-bottom: 14px;
}
.senora01{
  right: 114px;
}
.alcalde{
  background-color: #1363A9;
  column-count: 2;
}
.alcalde01{
  width: 210px;
  height: 210px;
}
.futbol{
  background-color: #1363A9;
  column-count: 2;
  margin-top: 14px;
  margin-bottom: 14px;
}
.futbol01{
  width: 210px;
  height: 210px;
}
.anuncio01{
  width: 210px;
  height: 210px;
}
.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -85px -45px;
}
