body{
  margin: 0;
  padding: 0;
  position: relative;
}
/*LOGO - LA REPÚBLICA*/
.contenedor01{
  margin: 0;
  padding: 0;
  background-color: #E00109;
}
.imagen{
  padding: 7px;
  padding-left: 7rem;
}
/*BARRA - MENú*/
.barra{
  margin: 0 auto;
  background-color: #5C5C66;
}
.menu{
  margin: 0 auto;
  background-color: #5C5C66;
  color: white;
}
ul{
  margin-top: 0px;
  margin-bottom: 0;
  padding: 14px;
  list-style: none;
  padding-left: 7.7em;
  background-color: #4D4D59;
}
/*.opcion{
  background-color: #4E4E5A;
  color: white; */

li{
  display: inline;
  margin: 0 0.2em;
}
/*INFORMACIÓN*/

.contenedor03{
  margin: 0;
  column-count: 2;
  background-color: #EBEBEB;
  color: #FFFFFF;

  font-size: 21px;
}
.contenedor03a{
  margin: 28px 21px;
}
    .odebrecht{
      background-color: #4D4D59;
      column-count: 2;
      padding: 21px 21px;
      margin: 7px;
      width: auto;
      height: auto;
    }
    .odebrecht01{
      width: 273px;
      height: 191px;
      margin: 0 auto;
    }
    .contenedor03a1{
      column-count: 2;
      margin: 0 auto;
    }
.contenedor03a{
  background-color: #FFFFFF;
}
.contenedor03b{
  margin: 21px;
  background-color: #ffffff;
  rows: 2;
}
.alejandra{
  background-color: #4D4D59;
  margin: 7px;
}
.alejandra01{
  width: 194px;
  height: 140px;
  margin: 0 auto;
}
.corea{
  background-color: #4D4D59;
  margin: 7px;
}
.corea01{
  width: 194px;
  height: 140px;
  margin: 0 auto;
}
.senora{
  background-color: #FF0004;
  column-count: 2;
  margin-top: 14px;
  margin-bottom: 14px;
}
.alcalde{
  background-color: #1363A9;
  column-count: 2;
}
.alcalde01{
  width: 119px;
  height: 119px;
}
.futbol{
  background-color: #1363A9;
  column-count: 2;
  margin-top: 14px;
  margin-bottom: 14px;
}
.futbol01{
  width: 19px;
  height: 119px;
}
.anuncio01{
  width: 490px;
  height: 84px;
}
